/* navbar background */

/* *{
    border: 1px solid red;
} */
.background {
    background-color: rgb(20, 20, 20);
    padding: 1%;

}

/*navbar logo */
.image {
    width: 100px;
    height: auto;
}

/* navbar text*/
.navbar-nav .nav-link {
    color: rgb(217, 218, 163);
    font-family: 'Crimson Text', serif;
    font-size: 20px;

}


/* positioning contact us & languages */
.d-flex {
    display: flex !important;
}

.ms-5 {
    margin-left: 40rem !important;
}




 /* ABOUT */

.aboutimg {
    position: absolute;
    opacity: 0.7;
    width: 50%;
    height: auto;
    margin: 1% 25%;
}

.about1 {
    font-family: auto;
    font-size: 22px;
    padding: 11% 33%;
    font-weight: bold;
    color: white;
    background-color: #262525;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.about2 {
    font-family: auto;
    font-size: 26px;
    text-align: center;
    margin: 50px;
    margin-top: 140px;
}
/* about icon */
#myIcon {
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
    

}
/* why choose us text   */
.about3 {
   display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  height: 100px; 
  font-family: auto;
  font-weight: bold;
  color: rgb(26 26 26);
  
 
}

/* why choose us cards */
.why-choose-us {
    margin: 0% 8%;
    background-color:#fafafa;
    font-family: inherit;
    
}

.container{
    margin-top: 100px;
    display: flex;
    background-color: rgb(237 239 241);
    align-items: center;
    justify-content: flex-end;
    /* border-radius: 25% 10%; */
    /* -moz-border-radius:0 50px 50px 0;
    border-radius: 0 50px 50px 0; */
    -moz-border-radius:13em/3em;
    -webkit-border-radius: 13em 3em;
    border-radius: 13em/3em;
   
}
    
.custom-card {
    background-color:#e1e1e1; 
    /* border: 10px outset whitesmoke; */
    -moz-border-radius: 40px 10px;
    border-radius: 40px 10px;
  }
  
.col-lg-3{
    width: 45%;
    position: relative;
    left: 100px;
    padding: 20px;
}

