/* navbar background */
.background {
    background-color: rgb(20, 20, 20);
    padding: 1%;

}

/*navbar logo */
.image {
    width: 100px;
    height: auto;
}

/* navbar text*/
.navbar-nav .nav-link {
    color: rgb(217, 218, 163);
    font-family: 'Crimson Text', serif;
    font-size: 22px;

}


/* positioning contact us  */
.contact{
    margin-left: 51rem!important;
}

/* CARS */

.carsText {
    font-family: fangsong;
    font-style: oblique;
    margin: 50px 30%;
    color: rgb(206, 158, 38);
    text-shadow: 7 22 black;
    font-weight: bolder;

}



.btn1 {

    background-color: rgb(70, 130, 241);
    padding: 7px 50px;
    text-align: center;
    margin-left: 42px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;

}


.btn1:hover {
    background-color: #045bb8;
}

/* Cards */
.container {
    max-width: 1200px;
    padding: 20px;
}

/* footer */
.footerform {
    width: 50%;
    height: auto;
    text-align: center;
    left: 50%;
}