 /* *{
    border: 1px solid red;
}  */

 /* navbar background */
 .background {
     background-color: rgb(20, 20, 20);
     padding: 1%;

 }

 /*navbar logo */
 .image {
     width: 100px;
     height: auto;
 }

 /* navbar text*/
 .navbar-nav .nav-link {
     color: rgb(217, 218, 163);
     font-family: 'Crimson Text', serif;
     font-size: 22px;

 }

/* positioning contact us  */
.contact{
    margin-left: 51rem!important;
}
 /* carousel */
 .carousel-caption {
     text-align: left;

     color: rgb(0, 0, 0);
     font-weight: bold;
     margin: 30% 1px;
     position: absolute;
     font-size: 35px;
 }


 .carousel-inner,
 .carousel-inner img {
     height: 400px;
     width: 60%;
     margin: auto;
     background-position: center;
     position: relative;
     /* background-color: white; */

 }

 /* carousel next */
 .carousel-control-prev-icon,
 .carousel-control-next-icon {
     background-color: black;


 }

 /* text under carousel */
 .text1 {
     font-family: 'Tilt Prism', cursive;
     text-align: center;
     margin-top: 92px;

 }

 .offer {
     color: rgb(1, 2, 3);
     font-weight: bold;
     font-family: 'Crimson Text', serif;

     padding-left: 10%;
 }





 btn1 {
     background-color: #007bff;
     color: #fff;
     border: none;
     border-radius: 5px;
     padding: 10px 20px;
     cursor: pointer;
 }

 btn1:hover {
     background-color: #0056b3;
 }

 /* positioning contact us & languages */
 .d-flex {
     display: flex !important;
 }

 .ms-5 {
     margin-left: 40rem !important;
 }

 /* first image */
 .contactimg {
     position: absolute;
     opacity: 0.7;
     width: 50%;
     height: auto;
     margin: 1% 25%;
 }

 .contact1 {
     font-family: auto;
     font-size: 22px;
     padding: 11% 33%;
     font-weight: bold;
     color: white;
     background-color: #262525;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-content: center;
     justify-content: center;
     align-items: center;
 }

 .contact-form {
     max-width: 400px;
     margin: 0 auto;
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 5px;
 }







 .ReachOut {
     font-style: normal;
     font-family: math;
     font-weight: bold;
     margin-top: 120px;
     text-align: center;
 }


 .Text {
     font-style: oblique;
     font-family: monospace;
     font-size: larger;
     text-align: center;
 }

 /* form starts */


 form {
     max-width: 400px;
     margin: 0 auto;
     padding: 20px;
     border: 2px solid #3a3434;
     border-radius: 5px;
     margin-top: 140px;
     background-color: ghostwhite;
     margin-left: 80px;
 }


 label {
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
 }

 /*  input fields */
 input[type="text"],
 input[type="email"],
 textarea {
     width: 100%;
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid #3f3939;
     border-radius: 5px;
 }

 /*  submit button */
 input[type="submit"] {
     background-color: #e7d63d;
     color: #fff;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
 }

 input[type="submit"]:hover {
     background-color: #fded06;
 }



 /* contact infos */
 .contact-info {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;

     align-items: flex-start;
     margin-top: -35%;
     margin-left: 61%;
 }

 .contact-info {
     background-color: #f4f4f4;
     padding: 20px;
 }

 .contact-section {
     margin-bottom: 20px;
 }

 .contact-title,
 .social-networks-title {
     font-weight: bold;
     font-family: 'Courier New', Courier, monospace;
 }

 .contact-details,
 .social-networks-links {
     list-style: none;
     padding: 0;
 }

 .contact-details li,
 .social-networks-links li {
     margin-bottom: 5px;
 }

 /* footer */
 .footerform {
     width: 50%;
     height: auto;
     text-align: center;
     left: 50%;
 }


 @media screen and (max-width: 768px) {
    .contact-info {
        
        max-width: 100%;
        height: auto;
    }}