/* *{
    border: 1px solid red;
} */

/* navbar background */
.background{
    background-color: rgb(20, 20, 20);
    padding: 1%;

}

/*navbar logo */
.image{
    width: 100px;
    height: auto;
}

/* navbar text*/
.navbar-nav .nav-link{
    color: rgb(217, 218, 163);
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    align-items: center;
    
    
}

/* positioning contact us  */
.contact{
    margin-left: 51rem!important;
}

/* carousel */
.textcarousel{
    margin-top: -2%;
    margin-bottom: -4%;
    margin-left: -42%;
    color: rgb(182, 77, 77);
    font-family:auto;
    font-size: 20px;
}

.textcarousel1{
    margin-top: 3%;
    margin-left: -60%;
    color: rgb(233, 18, 18);
    font-family:auto;
    font-size: 40px;
    font-weight: bolder;
}
.carouselEdit{
    width: 50%;
    text-align: center;
    margin-left: 25%;
}


.text1{
    font-family: 'Tilt Prism', cursive;
    text-align: center;
    margin-top: 75px;
    
}
.offer{
    color: rgb(1, 2, 3);
    font-weight: bold;
    font-family: 'Crimson Text', serif;
   
    padding-left: 10%;
}





.btn1 {
    
    background-color: rgb(70, 130, 241);
    padding: 7px 50px;
    text-align: center;
    margin-left: 42px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;

}


.btn1:hover {
    background-color: #045bb8;
}

.btnRent{
    background-color: #429aff;
    color: white;
    border: none;
    border-radius: 45px;
    padding: 10px 120px;
    cursor: progress;
    margin-left: 30%;
    font-size: 20px;
    align-items: center;
    text-decoration: none;
    font-style: oblique;
}

.btnRent:hover {
    background-color: #0056b3;
    transition: 0.7s;
}
/* positioning contact us & languages */
.d-flex {
    display: flex!important;
}
.ms-5 {
    margin-left: 40rem!important;
}





/* footer */
.footerform{
    width:50%;
    height: auto;
    text-align: center;
    left: 50%;
}
