<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
{% extends 'base/index.html' %}
{% load static%}
{% block title %} About {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/about.css' %}"> {% endblock%}
{% block content %}

  
<!-- first img starts -->
  <img src="{% static 'image/siera1.png' %}" class="aboutimg">
  <h2 class="about1">Welcome To Siera Car Rental Agency!</h2>
<!-- image ends -->

<!-- text under img -->
  <p class="about2">
    At Siera Car Rental, we are dedicated to providing our customers with an unparalleled car
    rental experience. With a fleet of well-maintained, top-of-the-line vehicles and a commitment to exceptional
    customer service, we strive to be the go-to choice for all your transportation needs.
    Our mission is to make car rental simple, convenient, and affordable for everyone.
    Whether you're a traveler looking for a reliable vehicle to explore the beautiful landscapes of our region
    or a local resident in need of a temporary car solution, we have the perfect ride for you.</p>
  <i class="fa-solid fa-users-line fa-2xl" id="myIcon" style="color: #d1d1d1;"></i>
  <br>
<!-- why choose us -->
  <h1 class="about3">Why choose us?</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4 why-choose-us">
    <div class="col">
      <div class="card">
        <img src="{% static 'image/carsabout.jpg' %}" class="card-img-top" style="height: 358px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">Wide Range of Vehicles: </h5>
          <p class="card-text">Choose from our diverse fleet of vehicles, including compact cars, spacious SUVs,
            luxurious sedans, and rugged trucks. Whatever your preferences and needs, we have the perfect vehicle for
            you.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'image/bookingabout.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Easy Online Booking: </h5>
          <p class="card-text">Our user-friendly online platform allows you to book your desired vehicle in just a few
            clicks. Specify your travel dates, pick-up and drop-off time, and choose the ideal car for your journey.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'image/no-hidden-fee-guarantee-1.png' %}"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Competitive Rates:</h5>
          <p class="card-text">We offer competitive and transparent pricing with no hidden fees. Enjoy great value for
            your money and find the rental option that fits your budget.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'image/agreement.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Exceptional Customer Service:</h5>
          <p class="card-text">Our dedicated customer support team is available around the clock to assist you with any
            inquiries, changes, or special requests. Your satisfaction is our priority.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'image/babyseatabout.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Optional Extras:</h5>
          <p class="card-text">Customize your rental experience with optional add-ons such as GPS navigation, child
            seats, and additional driver coverage.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'image/safetyabout.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Safety First:</h5>
          <p class="card-text">Your safety is important to us. Our vehicles undergo rigorous maintenance and cleaning
            procedures to ensure they're in optimal condition. We follow the highest standards to provide you with a
            safe and worry-free ride.</p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- requirements -->
  <br>
  <div class="container ">
    <h1 style="font-family: auto; font-style: oblique;">What are the requirements for picking up the car?</h1>
    <div class="row ">
      <div class="col-lg-3">
        <div class="card mb-3 custom-card">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{% static 'image/driver-license.png.png' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">DRIVERS LICENCE</h5>
                <p class="card-text">A valid driver's license is essential,
                  and it must match the name of the person who made the reservation. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-3 custom-card">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{% static 'image/front-of-id-card.png' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">IDENTITY CARD</h5>
                <p class="card-text">A passport or national identification card or ID document. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-3 custom-card">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{% static 'image/21-plus-sign.jpg.jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">AGE REQUIREMENT</h5>
                <p class="card-text"> Ensure you meet the minimum age requirement specified by
                  our company(around 21 years old). </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-3 custom-card">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{% static 'image/64-640315_coverage-confirmation-icon.jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">RESERVATION DETAILS</h5>
                <p class="card-text">Bring your reservation confirmation either in print or on your mobile device, to
                  confirm your booking. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



 




  
{% endblock %}
