<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
  {% extends 'base/index.html' %}
  {% load static%}
  {% block title %} Contact {% endblock %}
  {% block css %} <link rel="stylesheet" href="{% static 'css/siera.css' %}"> {% endblock%}
  {% block content %}
 
  


<!-- imazhi -->
  <!-- <img src="image/siera1.png" class="contactimg">
  <h2 class="contact1">Welcome To Siera Car Rental Agency!</h2>


  <h1 class="ReachOut">Reach Out to Us</h1>
  <p class="Text">Have any questions about car availability, security, or need more information? <pre class="Text">Our team is here to assist you.
     You can reach out to us directly using the contact details below or by completing the form.</pre></p>
  form starts -->
  

  <!-- <form action="process_form.php" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="subject">Subject:</label>
    <input type="text" id="subject" name="subject" required>

    <label for="message">Message:</label>
    <textarea id="message" name="message" rows="4" required></textarea>

    <input type="submit" value="Submit">
</form> -->

<!-- contact fields -->
<!-- <div class="contact-info">
  <div class="contact-section">
      <h2 class="contact-title">OUR CONTACTS</h2>
      <ul class="contact-details">

          <li><i class="fa-solid fa-location-dot fa-beat-fade" style="padding-right: 15px; color: #ff0000;">  </i>Tirana International Airport</li>
          <li><i class="fa-solid fa-phone fa-beat"style="padding-right: 15px; color: #ff0000;"></i>+355 69 996 1266</li>
          
          <li><i class="fa-solid fa-envelope-circle-check fa-beat"style="padding-right: 15px; color: #ff0000;"></i><a href="mailto: siera.car.rental@gmail.com">siera.car.rental@gmail.com</a></li>
      </ul>
 

  <div class="social-networks">
      <h2 class="social-networks-title">SOCIAL NETWORKS</h2>
      <ul class="social-networks-links">
          
          <li><i class="fa-brands fa-instagram fa-beat" style="padding-right: 15px; color: #ff0000;"></i><a href="https://www.instagram.com//Siera_Car_Rental"></a>Siera_Car_Rental</li>
      </ul>
  </div>
 </div>
 -->


  
 {% endblock %}