<!DOCTYPE html>
{% extends 'base/index.html' %}
{% load static%}
{% block title %} Home {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/siera.css' %}"> {% endblock%}
{% block content %}


  

  <!-- Background plane img -->
  <div class="backgroundimg1">
  

    <!-- carousel starts-->
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'image/airplane.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'image/audia6.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
  <!-- carousel ends -->
  <div>
    <hr width="0">
  </div>
  <br>
  <h1 class="text1">Start Your Journey Here</h1>
  <h1 class="offer">Car Rental Deals<i class="fa-solid fa-bell fa-shake" style="color: #ff0a0a;"></i></h1>
  <hr width="0">
                                                                                            
                                   
  <!-- cards start -->
   <div class="container">
    <div class="row">
{% for car in cars %}
      <div class="col-12 col-md-6 col-lg-4 mb-5">
        <div class="card" style="width: 18rem;">
          <img src="{{car.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{car.name}}</h5>
            <p>Starts from: €{{ car.price }} per day</p>     
                   <a href="{% url 'carDetail' car.pk %}" class="btn btn-primary">Rent here</a>
          </div>
        </div>
      </div>
         {% endfor %}  
     </div>
     </div>
    



     <!--cards end -->

<!-- button here -->
      <a href="{% url 'cars'  %}" class="btn btn-primary">Explore more car rental deals</a>



{% endblock %}